<p><h1>All our Flats(<%= @flats.count %>)</h1></p>
<div class="d-flex">
  <% @flats.each do |flat| %>
    <div class="card" style="width: 18rem;">
      <%= image_tag("", :alt => "rss feed") %>
      <div class="card-body" >
        <h5 class="card-title"><%= flat.name %></h5>
        <p class="card-text"><%= flat.description %></p>
      </div>
    </div>
  <% end %>
</div>
